<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">


          {% if site.ko_fi_username %}
          <li>
            <a href="https://ko-fi.com/{{ site.ko_fi_username }}">
              Ko-Fi

              <span class="username">{{ site.ko_fi_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.liberapay_username %}
          <li>
            <a rel="me" href="https://liberapay.com/{{ site.liberapay_username }}">
              <span class="icon  icon--liberapay">
        
              Liberapay
        
          <span class="username">{{ site.liberapay_username }}</span>
        </a>
        </li>
        {% endif %}

  {% if site.masto_username %}
  <li>
    <a rel="me" href="https://mastodon.social/@{{ site.masto_username }}">
      Mastodon

  <span class="username">{{ site.masto_username }}</span>
</a>
</li>
{% endif %}

  {% if site.twitch_username %}
      <li>
        <a href="https://twitch.tv/{{ site.twitch_username }}">
          Twitch

      <span class="username">{{ site.twitch_username }}</span>
    </a>
  </li>
  {% endif %}

          {% if site.telegram_username %}
          <li>
            <a href="https://t.me/{{ site.telegram_username }}">
              Telegram

          <span class="username">{{ site.telegram_username }}</span>
        </a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
         GitHub

          <span class="username">{{ site.github_username }}</span>
        </a>
      </li>
      {% endif %}


      {% if site.wikipedia_username %}
      <li>
        <a href="https://en.wikipedia.org/wiki/User:{{ site.wikipedia_username }}">
          Wikipedia
           

          <span class="username">{{ site.wikipedia_username }}</span>
        </a>
      </li>
      {% endif %}



      {% if site.steam_username %}
      <li>
        <a href="https://steamcommunity.com/id/{{ site.steam_username }}">
          Steam

          <span class="username">{{ site.steam_username }}</span>
        </a>
      </li>
      {% endif %}


        </ul>
      </div>

      {% if site.bsky_username %}
      <li>
        <a href="https://bsky.app/profile/{{ site.steam_username }}">
          BlueSky

          <span class="username">{{ site.steam_username }}</span>
        </a>
      </li>
      {% endif %}


        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
        <p class="text"><a href="https://patreon.com/erielookingproductions?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink">Provide support via Patreon</a></p>
      </div>
    </div>

  </div>

</footer>
